.index_zbg {

    overflow: hidden;
    width: 100%;
}
.reg-main {
    width: 100%;
}
#cols {
    width: 983;
    background: #f8f8f8;
    border: 1px solid #f0f0f0;
}
.reg-left {
    border-right: 1px solid #F1F1F1;
    float: left;
    margin: 50px 0;
    padding: 0 110px;
    position: relative;
    width: 340px;
}
.reg-left dl {
    color: #AAAAAA;
    font-family: "풕턼환쥌";
    font-size: 16px;
    margin: 0;
    padding: 0;
    width: 340px;
    list-style: none outside none;
}
.reg-left dl dt {
    color: #F0901C;
    font-size: 30px;
    font-weight: bold;
}
.reg-left dl dd {
    border: 1px solid #C6C6C6;
    height: 25px;
    line-height: 25px;
    margin: 15px 0;
    padding: 5px 10px;
    position: relative;
}
element.style {
    display: block;
}
.reg-left dl dd label {
    float: left;
    position: absolute;
    width: 120px;
}
.reg-left dl dd .input-reg {
    background: none repeat scroll 0 0 transparent;
    border: medium none;
    font-size: 18px;
    height: 25px;
    line-height: 25px;
    width: 320px;
}
.reg-left dl dd.info {
    border: medium none;
    height: 20px;
    line-height: 20px;
    margin: 1px 0;
    padding: 0;
}
.reg-button input{
    background: url("../images/reg-icon.png") no-repeat scroll 0 -53px transparent;
    border: medium none;
    color: #FFFFFF;
    float: left;
    font-family: "풕턼환쥌";
    font-size: 20px;
    height: 40px;
    line-height: 40px;
    margin-top: 15px;
    text-align: center;
    width: 260px;
}
.clear {
    clear: both;
    float: none;
    height: 0;
    overflow: hidden;
}
.validatorInit {
    background: url("../images/onInit.gif") no-repeat scroll 0 0 transparent;
}
.validatorError {
    background: url("../images/onError.gif") no-repeat scroll 0 0 #FFF2E9;
}
.validatorValid {
    background: url("../images/onValid.gif") no-repeat scroll 0 0 transparent;
}
.validatorMsg {
    font-size: 12px;
    padding: 5px 7px 5px 23px;
}

.reg-right {
    color: #666666;
    float: left;
    font-family: "풕턼환쥌";
    font-size: 14px;
    margin: 90px 0 0;
    padding: 0 50px;
}
.font18 {
    font-size: 18px;
    font-weight: bold;
    padding-bottom: 10px;
}
a.reg-log {
    background: url("../images/reg-icon.png") no-repeat scroll 0 -10px transparent;
    color: #333333;
    float: left;
    height: 30px;
    line-height: 30px;
    text-align: center;
    width: 91px;
    outline: medium none;
    text-decoration: none;
}
.reg-gj {
    background: url("../images/reg-icon.png") repeat scroll 0 -525px transparent;
    float: left;
    height: 43px;
    line-height: 43px;
    margin-top: 20px;
    text-align: center;
    width: 330px;
}
.log-gj {
    background: url("../images/reg-icon.png") repeat scroll -2px -449px transparent;
    border: medium none;
    color: #FFFFFF;
    cursor: pointer;
    float: left;
    font-family: "풕턼환쥌";
    font-size: 18px;
    height: 40px;
    line-height: 45px;
    margin: 10px 40px 0 0;
    text-align: center;
    width: 150px;
}
.my-login {
    float: left;
    height: 46px;
    line-height: 46px;
}
.my-login span {
    color: #AAAAAA;
    float: left;
    margin-top: 10px;
    width: 105px;
}